@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Kaushan+Script&family=Meddon&family=Mr+Dafoe&family=Mr+De+Haviland&family=Sacramento&display=swap');

h1 {
   /* position: relative;
   top: 2rem;
   left: 2rem; */
   color: whitesmoke;
   z-index: 10;
   /* margin: 20px; */

   background-color: rgb(148, 151, 134);
   padding: 20px;
}
.search {
   position: absolute;
   top: 1rem;
   right: 0.5rem;
   transform: translateX(-50%);
   width: 100%;
   max-width: 400px;
   z-index: 10;
}
.search input {
   padding: 0.5rem;
   font-size: 1.5rem;
   width: 100%;
   border: 1px solid rgb(100, 104, 85, 0.4);
   border-radius: 10px;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.locate {
   position: absolute;
   top: 1rem;
   right: 1rem;
   background: none;
   border: none;
   z-index: 10;
}
.locate img {
   width: 50px;
   cursor: pointer;
}
/* .logo{
    background: #22c1c3;  
background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  
background: linear-gradient(to right, #fdbb2d, #22c1c3); 
 font-size: 20px;
  }  */

@media screen and (max-width: 768px) {
   .mapDisplayContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .search {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 10px;
   }
}
